{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Demande devis
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-center">Demander un devis</h1>

		{{ form_start(form, {attr: {class: 'form-width', 'data-controller': 'addCollection' }}) }}

		{{ form_errors(form) }}
		<div class="form-group">
			{{ form_row(form.firstname) }}
		</div>
		<div class="form-group">
			{{ form_row(form.lastname) }}
		</div>
		<div class="form-group">
			{{ form_row(form.address) }}
		</div>
		<div class="form-group">
			{{ form_row(form.name) }}
		</div>
		<div class="form-group">
			{{ form_row(form.description) }}
		</div>
		<div class="form-label-input text-center">
			<button type="button" class="add_item_link button button-update" data-collection-holder-class="images">Ajouter une image</button>
		</div>
		<div class="form-group">
			<ul class="images form-image-list" data-index="{{ form.devisImages|length > 0 ? form.devisImages|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.devisImages.vars.prototype)|e('html_attr') }}">
				{% for image in form.devisImages %}
					<li class="form-image-item">
						<button type="button" class="remove_item_link">
							<i class="bi bi-x-square-fill form-button-icon"></i>
						</button>
						{{ form_row(image, {attr: {"data-controller": "previewImage"}}) }}
						{{ form_errors(image.imageFile) }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="form-label-input text-center">
			<button type="submit" class="button button-red">Envoyer</button>
		</div>
		{{ form_end(form) }}
	</section>
{% endblock %}
