<header>
	{% include 'Frontend/Layout/_logo.html.twig' %}
	<nav class="header-navbar">
		<ul class="menu">
			<li class="item">
				<a class="link" href="{{path('app_app')}}">Accueil</a>
			</li>
			<ul class="dropdown">
				<li class="dropButton">
					Réalisations<i class="bi bi-caret-down-square-fill"></i>
				</li>
				<ul id="myDropdown" class="dropdown-content">
					<li>
						<a href="#">Escaliers</a>
					</li>
					<li>
						<a href="#">Cuisines</a>
					</li>
					<li>
						<a href="#">Gardes-corps</a>
					</li>
					<li>
						<a href="#">Metallerie</a>
					</li>
					<li>
						<a href="#">Mobilier</a>
					</li>
					<li>
						<a href="#">Professionnel</a>
					</li>
					<li>
						<a href="#">Toutes les catégories</a>
					</li>
				</ul>
			</ul>
			{% if (app.user) %}
				<ul class="dropdown">
					<li class="dropButton">
						Mon compte<i class="bi bi-caret-down-square-fill"></i>
					</li>
					{% if app.user.isVerified %}
						<ul id="myDropdown2" class="dropdown-content">
							<li class="item">
								<a href="{{ path('app_profile_index') }}">Mon compte</a>
							</li>
							<li class="item">
								<a href="">Mes devis</a>
							</li>
							<li class="item">
								<a href="{{ path('app_logout') }}" data-turbo="false">Déconnexion</a>
							</li>
						</ul>
						{% if is_granted('ROLE_ADMIN')%}
							<ul id="myDropdown2" class="dropdown-content">
								<li class="item">
									<a href="{{ path('app_profile_index') }}">Mon compte</a>
								</li>
								<li class="item">
									<a href="{{path('admin_users_index')}}">Gestion</a>
								</li>
								<li class="item">
									<a href="{{ path('app_logout') }}" data-turbo="false">Déconnexion</a>
								</li>
							</ul>
						{% endif %}
					{% endif %}
				</ul>
			{% else %}
				<li class="item">
					<a href="{{ path('app_login') }}" class="link">Se connecter</a>
				</li>
			{% endif %}
			<li class="item">
				<a class="button button-red-header" href="{{path('app_devis_create')}}">Demander un devis</a>
			</li>
		</ul>
	</nav>
</header>
