{% extends 'Backend/base.html.twig' %}

{% block title %}
	{{ parent() }}
	Modifier le status d'un devis
{% endblock %}

{% block body %}
		<div class="container">
			<h1 class="text-center">Modifier un devis</h1>

			{{ form_start(form, {attr: {class: 'form-width form-margin-bottom-admin', onsubmit:"return confirm('Êtes-vous sûr de vouloir changer le status de ce devis ? Un email sera envoyé au client lorsque le status du devis changera.')"  }}) }}
			{{ form_errors(form) }}
			<div class="form-group">
				{{ form_row(form.status) }}
			</div>
			<div class="form-label-input text-center">
				<button type="submit" class="button button-red">Modifier</button>
			</div>
			{{ form_end(form) }}
		</div>
		<div class="form-label-input text-center">
			<a href="{{ path('admin_devis_index') }}" class="button button-red">Retour aux devis</a>
		</div>
{% endblock %}